@font-face {
  font-family: 'II Vorkurs';
  src: url('IIVorkurs-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiempos Fine';
  src: url('tiempos-fine-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
